#front {
  height: 464px;
  overflow-y: none;
  width: 100%;

  #md-logo {
    background: no-repeat center;
    background-size: 80%;
    height: 100%;
    width: 484px;
  }

  #md-toc {
    color: #92a611;
    font-size: 18px;
    height: 464px;
    left: 492px;
    overflow-y: scroll;
    position: absolute;
    width: 250px;
    top: 8px;

    #md-toc-splitter {
      padding-left: 8px;
      width: 0;
    }
    .md-toc-item {
      border-bottom: lightgray solid 1px;
      line-height: 28px;
    }
    .md-toc-item p {
      padding-left: 0;
    }
    .md-toc-h1 {
      padding-left: 0;
      width: 224px;
    }
    .md-toc-h2 {
      padding-left: 16px;
      width: 208px;
    }
    .md-toc-h3 {
      padding-left: 32px;
      width: 192px;
    }
    .md-toc-h4 {
      padding-left: 48px;
      width: 176px;
    }
    .md-toc-h5 {
      padding-left: 56px;
      width: 160px;
    }
  }

  #content {
    overflow-y: scroll;
    width: 484px;
    #pager {
      position: absolute;
      top: 472px;

      left: 0;
      height: 28px;
      line-height: 28px;
      width: 100%;

      #pager-lhs {
        float: left;
        text-align: center;
      }
      #pager-rhs {
        float: right;
        text-align: center;
      }
      #pager-lhs, #pager-rhs {
        color: #92a611;;
        font-size: 28px;
        height: 100%;
        line-height: 22px;
        text-decoration: none;
        width: 50%;
      }
    }
  }

  header {
    text-decoration: underline;
  }
}

#back {
  height: 484px;
  width: 484px;

  label {
    display: none;
  }
  input {
    width: 474px;
    margin-bottom: 10px;
  }
  textarea, .CodeMirror {
    font-size:11px;
    height: 364px;
    width: 484px;
  }

  .done-btn-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;

    .done-btn {
      margin-bottom: 10px;
    }
  }
}