#front {
  height: 524px;
  width: 100%;

  #md-logo {
    background: no-repeat center;
    background-size: 80%;
    height: 100%;
    width: 564px;
  }

  #md-toc {
    color: #92a611;
    height: 524px;
    left: 572px;
    position: absolute;
    width: 250px;
    top: 8px;

    #md-toc-search {
      background: #d9d9d9 url(images/search-icon.svg) right no-repeat;
      border: 1px solid #a1a1a1;
      border-radius: 4px;
      height: 34px;
      margin: 0 0 0 8px;
      padding: 0 32px 0 8px;
      width: 200px;
    }

    #md-toc-items {
      overflow-y: scroll;
      height: 480px;
      margin-top: 8px;
      padding-left: 8px;
      width: 242px;

      .md-toc-item:first-of-type {
        border-top: lightgray solid 2px !important;
      }
      .md-toc-item {
        border-bottom: lightgray solid 1px;
        font-size: 34px;
      }
      .md-toc-item:last-of-type {
        border-bottom: lightgray solid 2px !important;
      }
      .md-toc-item p {
        padding-bottom: 5px;
        padding-left: 0;
        padding-top: 7px;
      }
      .md-toc-h1 {
        padding-left: 0;
        width: 224px;
      }
      .md-toc-h2 {
        padding-left: 16px;
        width: 208px;
      }
      .md-toc-h3 {
        padding-left: 32px;
        width: 192px;
      }
      .md-toc-h4 {
        padding-left: 48px;
        width: 176px;
      }
      .md-toc-h5 {
        padding-left: 56px;
        width: 160px;
      }
    }
  }

  #content {
    width: 564px;

    a {
      color: #92a611;
      text-decoration: none;
    }

    #pager {
      position: absolute;
      top: 530px;

      left: 0;
      height: 28px;
      line-height: 28px;
      width: 100%;

      #pager-lhs {
        float: left;
        text-align: center;
      }
      #pager-rhs {
        float: right;
        text-align: center;
      }
      #pager-lhs, #pager-rhs {
        color: #92a611;;
        font-size: 28px;
        height: 100%;
        line-height: 22px;
        text-decoration: none;
        width: 50%;
      }
    }
  }

  header {
    text-decoration: underline;
  }
}

#back {
  height: 544px;
  width: 564px;

  label {
    display: none;
  }
  input {
    width: 554px;
    margin-bottom: 10px;
  }
  textarea, .CodeMirror {
    font-size:11px;
    height: 428px;
    width: 564px;
  }

  .done-btn-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;

    .done-btn {
      line-height: 26px;
      margin-bottom: 10px;
    }
  }
}